.profilePostBase {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.75rem;
  border-radius: 1rem;
  padding: 0.75rem;
  background: var(--applebgColor);
  border: solid 1px var(--bgColorBorder);
  box-shadow: inset 0px 0px 0.5rem #00000038;

}
.profilePostBase::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.11));
  pointer-events: none;
}

.profilePostCard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 0.75rem;
}

.profilePostCard > img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.profilePostBody {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  aspect-ratio: 2 / 1;
}

.profilePostInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.openPostIcon {
  color: var(--appleTextColor2);
  cursor: pointer;
  margin-left: 0.25rem;
  flex-shrink: 0;
}

.profilePostTitleArtist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.profilePostTitleArtist > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  width: 100%;
}

.profilePostTitle {
  font-size: 1rem;
  font-weight: 600;
  color: var(--appleTextColor1);
  letter-spacing: -0.02em;
}

.profilePostArtist {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--appleTextColor2);
}

.profilePostInteractions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: var(--appleTextColor2);
}

.profilePostInteractions > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.profilePostInteractions > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 0.875rem;
}

.indvBadge {
  border-radius: 5rem;
  font-weight: 500;
  font-size: 0.825rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  letter-spacing: -0.02em;
  color: var(--appleTextColor2);
}

.badgeColorDot {
  color: var(--badgeColor);
  text-shadow: 0 0 2px black;
  padding: 0 4px 0 0;
  font-size: 0.8rem;
}

.postGenreBadges {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.albumCoverBase {
  min-height: 0;
  align-self: center;
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  box-shadow: #00000034 0px 0px 1rem;
}

.albumCoverDark {
  border: 1px solid var(--bgColorBorder);
}

.userTextPost {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  letter-spacing: -0.02em;
  line-height: 1.3rem;
  font-size: 1rem;
  color: var(--appleTextColor1);
  overflow-wrap: anywhere;
}

.userTextPostContent {
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 0;
  flex: 1;
}

.userTextPostPfp {
  aspect-ratio: 1 / 1;
  height: 2.5rem;
  width: auto;
  border-radius: 50%;
  align-self: center;
  border: 1px solid var(--appleTextColor1);
  box-shadow: 0px 0px 0.5rem #00000020;
  margin-right: 0.5rem;
}

.userNameTimeAgo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-right: 0.5rem;
}

.username {
  font-weight: 500;
  color: var(--appleTextColor1);
  display: block;
  font-size: 0.875rem;
}

.postTime {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  color: var(--appleTextColor3);
  margin-top: auto;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  line-height: 1.2rem;
}

.caption {
  width: 100%;
  font-size: 0.875rem;
}
