.profilePostBase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background: var(--applebgColor);
  border: solid 1px var(--bgColorBorder);
}

.profilePostLight {
  box-shadow: inset 0px 0px 5rem #ffffff38;
}

.profilePostDark {
  box-shadow: inset 0px 0px 5rem #ffffff1f;
}

.profilePostCard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
}

.profilePostCard > img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.profilePostBody {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  aspect-ratio: 2 / 1;
}

.profilePostInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.openPostIcon {
  color: var(--appleTextColor2);
  cursor: pointer;
  margin-left: 0.25rem;
}

.profilePostTitleArtist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.profilePostTitleArtist > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  width: 100%;
}

.profilePostTitle {
  font-size: 1rem;
  font-weight: 600;
  color: var(--appleTextColor1);
  letter-spacing: -0.02em;
}

.profilePostArtist {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--appleTextColor2);
}

.profilePostInteractions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--appleTextColor2);
}

.profilePostInteractions > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.profilePostInteractions > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 0.875rem;
}

.profilePostCaption {
  font-size: 0.875rem;
  color: var(--appleTextColor1);
  overflow: hidden;
  padding: 0.5rem;
  border-radius: 0.75rem;
  width: 100%;
  letter-spacing: -0.02em;
}

.profilePostTime {
  font-size: 0.75rem;
  color: var(--appleTextColor3);
}

.indvBadge {
  border-radius: 5rem;
  font-weight: 500;
  font-size: 0.825rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  letter-spacing: -0.02em;
  color: var(--appleTextColor2);
  letter-spacing: -0.02em;
}

.badgeColorDot {
  color: var(--badgeColor);
  text-shadow: 0 0 2px black;
  padding: 0 4px 0 0;
  font-size: 0.8rem;
}

.postGenreBadges {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.albumCoverBase {
  min-height: 0;
  align-self: center;
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  box-shadow: #00000034 0px 0px 1rem;
}

.albumCoverDark {
  border: 1px solid #ffffff25;
}
