.postCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: auto;
  min-height: 0;
  height: 92vh;
  padding: 8vh 2rem 1rem 2rem;
  margin: 0 1rem;
  border-radius: 2rem;
  background: var(--applebgColor);
  border: solid 1px var(--bgColorBorder);
}

.postCardLight {
  /*box-shadow: inset 0px 0px 2rem #ffffff38;*/
}

.postCardDark {
  /*box-shadow: inset 0px 0px 2rem #ffffff1f;*/
}

.feedBuffer {
  height: calc(8vh);
  background-color: rgba(0, 0, 0, 0);
}

.songArea {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.albumCover {
  min-height: 0;
  align-self: center;
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  box-shadow: #00000052 0px 4px 15px;
}

.albumCoverDark {
  border: 1px solid var(--bgColorBorder);
}

.songCardInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  min-height: 0;
  width: 100%;
}

.songMetaListen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
}

.songText {
  display: flex;
  flex-direction: column;
  text-align: left;

  letter-spacing: -0.02em;
}

.trackTitle {
  color: var(--appleTextColor1);
  font-size: 1.25rem;
  font-weight: 600;
}

.trackArtist {
  font-size: 1rem;
  color: var(--appleTextColor2);
  font-weight: 400;
}

.listenButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.25rem;
  color: var(--appleTextColor1);
}

.listenButtonIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0rem;
}

.listenButtonText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: var(--appleTextColor2);
}

.drawerListenButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 7rem 1rem;
  width: 100%;
}

.appleMusicAttr {
  font-size: 0.5rem;
  margin-top: 1rem;
  align-self: center;
  color: var(--appleTextColor3);
  letter-spacing: -0.02em;
  line-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerProgressBar {
  width: 100%;
  height: 0.5rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.playerProgressFill {
  height: 100%;
  background-color: var(--appleTextColor2);
  border-radius: 1rem;
  transition: width 0.25s linear;
}

.controlsSocialArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.playerControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 0.75rem;
}

.socialControls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.socialControlIndv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  gap: 0.25rem;
  color: var(--appleTextColor2);
}

.userPostArea {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.userInfoMetadata {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.userInfoMetadata > img {
  aspect-ratio: 1 / 1;
  height: 3rem;
  width: auto;
  border-radius: 50%;
  align-self: flex-end;
  border: 1px solid var(--appleTextColor1);
}

.usernameTags {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 500;
  color: var(--appleTextColor1);
}

.postGenreBadges {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.indvBadge {
  border-radius: 5rem;
  font-weight: 500;
  font-size: 0.825rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  letter-spacing: -0.02em;
  color: var(--appleTextColor1);
}

.badgeColorDot {
  color: var(--badgeColor);
  text-shadow: 0 0 2px black;
  padding: 0 4px 0 0;
  font-size: 0.8rem;
}

.userTextPost {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  letter-spacing: -0.02em;
  line-height: 1.4rem;
  font-size: 1rem;
  color: var(--appleTextColor1);
  overflow-wrap: anywhere;
}

.postTime {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  color: var(--appleTextColor3);
  margin-top: auto;
  font-size: 0.75rem;
}
