.bottom-bar {
  position: fixed;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 8vh;
  background: rgba(0, 0, 0, 0.644);
  z-index: 100;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.75rem 3rem;
  backdrop-filter: saturate(150%) blur(15px);
  border-top: 1px solid rgba(0, 0, 0, 0.164);
}